{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/styles.css' %}" type="text/css">
    <link rel="icon" type="image/png" href="{% static 'icon/icon.png' %}" class="rounded-full">
    <title>Mazta Bank Data - {{ title }}</title>
</head>
<body class="overflow-y-scroll overflow-x-hidden">
    {% block header %}
    {% endblock header %}

    {% block main %}
    {% endblock main %}

    {% block footer %}
    {% endblock footer %}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss-animated@2.0.0/src/index.min.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js" integrity="sha256-lFA8dPmfmR4AQorTbla7C2W0aborhztLt0IQFLAVBTQ=" crossorigin="anonymous"></script>
    <script>
      AOS.init();
    </script>
    <script>
        $(document).ready(function() {
          // Cek jika ada theme tersimpan di localStorage
          var savedTheme = localStorage.getItem('theme');
          if (savedTheme) {
            // Set theme pada elemen <html> (atau <body> sesuai kebutuhan DaisyUI)
            $('html').attr('data-theme', savedTheme);
            // Tandai radio input yang sesuai sebagai checked
            $('input[name="theme-dropdown"][value="'+savedTheme+'"]').prop('checked', true);
          }
      
          // Saat radio input berubah
          $('input[name="theme-dropdown"]').on('change', function() {
            var theme = $(this).val();
            if ($(this).is(':checked')) {
              $('html').attr('data-theme', theme);
              localStorage.setItem('theme', theme);
            } else {
              $('html').attr('data-theme', 'lemonade');
              localStorage.setItem('theme', 'lemonade');
            }
          });
        });

        $(document).ready(function() {
            $('#search').on('input', function() {
                var searchQuery = $(this).val();

                $.ajax({
                    url: window.location.href,
                    data: {
                        'search' : searchQuery
                    },
                    dataType: 'html',
                    success: function(response) {
                        $('#page-list').html($(response).find('#page-list').html());
                    }
                });
            });
        });

        $(document).ready(function() {
            $('#search-2').on('input', function() {
                var searchQuery = $(this).val();

                $.ajax({
                    url: window.location.href,
                    data: {
                        'search' : searchQuery
                    },
                    dataType: 'html',
                    success: function(response) {
                        $('#page-list-2').html($(response).find('#page-list-2').html());
                    }
                });
            });
        });

        $(document).ready(function() {
          var checkedRadio = $('input[name="date-or-days"]:checked');

          if (checkedRadio.length > 0) {
            var target = checkedRadio.attr('to');
            $('.by-date-days').addClass('hidden').removeClass('flex');
            $('#' + target).removeClass('hidden').addClass('flex');
          }

          $('input[name="date-or-days"]').on('change', function() {
              $('.by-date-days').addClass('hidden').removeClass('flex');
              
              var c = $(this).attr('to');

              $('#' + c).addClass('flex').removeClass('hidden');
          });
        });

        $(document).ready(function() {
          $('#togglePassword').on('click', function() {
            var checkboxPassword = $('#check-password').is(':checked');
            
            if (checkboxPassword == true) {
              $('#password-login').attr('type', 'text');
            } else {
              $('#password-login').attr('type', 'password');
            }
          });
        });

        $(document).ready(function() {
          var checkedRadio = $('.check-tab:checked');

          if (checkedRadio.length > 0) {
            var tabId = checkedRadio.attr('data-tab');

            $('#' + tabId).fadeIn(300).addClass('tab-active').removeClass('hidden');
          }

          $('.check-tab').on('change', function() {
            var tabId = $(this).attr('data-tab');

            $('.tab-content').fadeOut(300, function() {
              $(this).removeClass('tab-active').addClass('hidden');

              $('#' + tabId).fadeIn(300, function() {
                $(this).addClass('tab-active').removeClass('hidden');
              });
            });
          });
        });

        $(document).ready(function() {
          $('#chldrn-btn-sbmt').on('click', function() {

            var chld_first_name = $('#chld-frst-nm').val();
            var chld_mddl_name = $('#chld-mdl-nm').val();
            var chld_lst_name = $('#chld-lst-nm').val();
            var chld_fll_name = $('#chld-fll-nm').val();
            var chld_birthday = $('#chld-brth').val();
            var chld_phone = $('#chld-phon').val();

            $('#chldrn-list').append(`
            <tr>
              <th>${chld_first_name}</th>
              <td>${chld_birthday}</td>
              <td>
                <button type="button" class="btn delete-input btn-xs p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </button>
              </td>
              <td class="hidden">
                <input class="hidden" type="text" name="children_first_name" value="${chld_first_name}">
                <input class="hidden" type="text" name="children_middle_name" value="${chld_mddl_name}">
                <input class="hidden" type="text" name="children_last_name" value="${chld_lst_name}"> 
                <input class="hidden" type="text" name="children_full_name" value="${chld_fll_name}"> 
                <input class="hidden" type="text" name="children_birthday" value="${chld_birthday}"> 
                <input class="hidden" type="text" name="children_phone" value="${chld_phone}">
              </td>
            </tr>
            `);

            $('#chld-frst-nm').val('');
            $('#chld-mdl-nm').val('');
            $('#chld-lst-nm').val('');
            $('#chld-fll-nm').val('');
            $('#chld-brth').val('');
            $('#chld-phon').val('+62 ');

          });

          $('#sps-btn-sbmt').on('click', function() {

            var sps_frst_name = $('#sps-frst-nm').val();
            var sps_mddl_name = $('#sps-mdl-nm').val();
            var sps_lst_name = $('#sps-lst-nm').val();
            var sps_fll_name = $('#sps-fll-nm').val();
            var sps_birth = $('#sps-brth').val();
            var sps_phone = $('#sps-phon').val();
            var sps_marriage = $('#sps-mrg-dt').val();

            $('#sps-list').append(`
            <tr>
              <td>${sps_frst_name}</td>
              <td>${sps_birth}</td>
              <td>
                <button type="button" class="btn delete-input btn-xs p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </button>
              </td>
              <td class="hidden">
                <input class="hidden" type="text" name="spouse_first_name" value="${sps_frst_name}">
                <input class="hidden" type="text" name="spouse_middle_name" value="${sps_mddl_name}">
                <input class="hidden" type="text" name="spouse_last_name" value="${sps_lst_name}">
                <input class="hidden" type="text" name="spouse_full_name" value="${sps_fll_name}">
                <input class="hidden" type="text" name="spouse_birthday" value="${sps_birth}">
                <input class="hidden" type="text" name="spouse_marriage_date" value="${sps_marriage}">
                <input class="hidden" type="text" name="spouse_phone" value="${sps_phone}">
              </td>
            </tr>
            `);

            $('#sps-frst-nm').val('');
            $('#sps-mdl-nm').val('');
            $('#sps-lst-nm').val('');
            $('#sps-fll-nm').val('');
            $('#sps-brth').val('');
            $('#sps-phon').val('+62 ');
            $('#sps-mrg-dt').val('');

          });

          $('#add-interest').on('click', function() {
            $('#interest-list').append(`
            <tr>
              <th>
                <input name="interest-category" class="input input-sm" autocomplete="off">
              </th>
              <td>
                <input name="interest-name" class="input input-sm" autocomplete="off">
              </td>
              <td>
                <button type="button" class="btn delete-input btn-xs py-4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </button>
              </td>
            </tr>
            `);
          });

          $('#add-socmed').on('click', function() {
            $('#socmed-list').append(`
            <tr>
              <th>
                <input name="socmed-name" class="input input-sm" autocomplete="off">
              </th>
              <td>
                <input name="socmed-account-name" class="input input-sm" autocomplete="off">
              </td>
              <td>
                <button type="button" class="btn delete-input btn-xs py-4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </button>
              </td>
            </tr>
            `);
          });

          $('#branch-btn-sbmt').on('click', function() {

            var branch_name = $('#brnach-name-id').val();
            var branch_est_date = $('#brnach-date-id').val();
            var branch_street_1 = $('#brnach-street1-id').val();
            var branch_street_2 = $('#brnach-street2-id').val();
            var branch_city = $('#brnach-city-id').val();
            var branch_state = $('#brnach-state-id').val();
            var branch_country = $('#brnach-country-id').val();
            var branch_zip = $('#brnach-zip-id').val();

            $('#branch-list').append(`
            <div class="rounded-sm border-2 border-current glass p-2 space-y-2">
              <div class="space-y-2">
                <div class="flex items-center justify-start gap-2">
                  <p class="w-1/3 text-md font-semibold text-left">Name</p>
                  <p class="w-2/3 text-md font-semibold text-left">: ${branch_name}</p>  
                </div>
                <div class="flex items-center justify-start gap-2">
                  <p class="w-1/3 text-md font-semibold text-left">Est Date</p>
                  <p class="w-2/3 text-md font-semibold text-left">: ${branch_est_date}</p>  
                </div>
              </div>
              <div class="flex items-center justify-end gap-10">
                <button type="button" class="btn btn-xs delete-input py-4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </button>  
              </div>
              <div class="hidden">
                <input name="branch-name" class="hidden" type="text" value="${branch_name}">
                <input name="branch-est-date" class="hidden" type="text" value="${branch_est_date}">
                <input name="branch-street-1" class="hidden" type="text" value="${branch_street_1}">
                <input name="branch-street-2" class="hidden" type="text" value="${branch_street_2}">
                <input name="branch-city" class="hidden" type="text" value="${branch_city}">
                <input name="branch-state" class="hidden" type="text" value="${branch_state}">
                <input name="branch-country" class="hidden" type="text" value="${branch_country}">
                <input name="branch-zip" class="hidden" type="text" value="${branch_zip}">
              </div>
            </div>
            `);

            $('#brnach-name-id').val('');
            $('#brnach-date-id').val('');
            $('#brnach-street1-id').val('');
            $('#brnach-street2-id').val('');
            $('#brnach-city-id').val('');
            $('#brnach-state-id').val('');
            $('#brnach-country-id').val('');
            $('#brnach-zip-id').val('');     

          })

          $(document).on('click', '.delete-input', function() {
            $(this).parent().parent().remove();
          });

          $('#gu-id').on('change', function() {
            $('#gu-tooltip-false').removeClass('flex').addClass('hidden');
            var thisPk = $(this).val();

            $.ajax({
                url: `/api/grade-user/${thisPk}/`,
                method: 'GET',
                success: function(data) {
                  $('#gu-tooltip-true').removeClass('hidden').addClass('flex').append(`
                    <div class="tooltip">
                        <div class="tooltip-content">
                            <div class="text-sm font-normal p-1">${data.description}</div>
                        </div>
                        <svg class="w-5 h-5 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>                                          
                    </div>
                  `);
                }
            });
          });

          $('#gc-id').on('change', function() {
            $('#gc-tooltip-false').removeClass('flex').addClass('hidden');
            var thisPk = $(this).val();

            $.ajax({
                url: `/api/grade-clinic/${thisPk}/`,
                method: 'GET',
                success: function(data) {
                  $('#gc-tooltip-true').removeClass('hidden').addClass('flex').append(`
                    <div class="tooltip">
                        <div class="tooltip-content">
                            <div class="text-sm font-normal p-1">${data.description}</div>
                        </div>
                        <svg class="w-5 h-5 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>                                          
                    </div>
                  `);
                }
            });
          });

          $('#sal-id').on('change', function() {
            $('#sal-tooltip-false').removeClass('flex').addClass('hidden');
            var thisPk = $(this).val();

            $.ajax({
                url: `/api/salutation/${thisPk}/`,
                method: 'GET',
                success: function(data) {
                  $('#sal-tooltip-true').removeClass('hidden').addClass('flex').append(`
                    <div class="tooltip">
                        <div class="tooltip-content">
                            <div class="text-sm font-normal p-1">${data.description}</div>
                        </div>
                        <svg class="w-5 h-5 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>                                          
                    </div>
                  `);
                }
            });
          });

          $('#tit-id').on('change', function() {
            $('#tit-tooltip-false').removeClass('flex').addClass('hidden');
            $('#tit-tooltip-true').empty();
            var thisPk = $(this).val();

            $.ajax({
                url: `/api/title/${thisPk}/`,
                method: 'GET',
                success: function(data) {
                  $('#tit-tooltip-true').removeClass('hidden').addClass('flex').append(`
                    <div class="tooltip">
                        <div class="tooltip-content">
                            <div class="text-sm font-normal p-1">${data.description}</div>
                        </div>
                        <svg class="w-5 h-5 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>                                          
                    </div>
                  `);
                }
            });
          });

          $('#fn-id, #mn-id,  #ln-id').on('input', function() {
            var firstName = $('#fn-id').val();
            var middleName = $('#mn-id').val();
            var lastName = $('#ln-id').val();

            var fullName = [firstName, middleName, lastName].filter(Boolean).join(' ');

            $('#fl-id').val(fullName);
          });
        });
    </script>
</body>
</html>