{% extends 'base/base_app.html' %}

{% block main %}
<div class="max-w-xl">
    {% block delete_form %}{% endblock %}
    <form action="." method="post" {% block form_attrs %}{% endblock %} class="space-y-5">
        {% csrf_token %}
        <input type="hidden" name="metode" value="post">
        <div class="content-head">
            <div>
                <h1 class="text-xl">{% block heading %}{{ page_name }}{% endblock %}</h1>
                {% block subheading %}{% endblock %}
            </div>
            <div class="flex shrink-0 gap-2">
                {% block actions %}
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                {% endblock %}
            </div>
        </div>
        <div class="panel panel-pad space-y-6">
            {% block fields %}{% endblock %}
        </div>
    </form>
    {% block extra %}{% endblock %}
</div>
{% endblock main %}
