{% extends 'base/base_app.html' %}

{% block main %}
<div class="page-head">
    <div class="page-head__main">
        <h1>{% block list_title %}{{ page_name }}{% endblock %}</h1>
        {% block list_note %}{% endblock %}
    </div>
    {% include 'head/nav_2.html' %}
</div>

<div class="ledger">
    <div class="hidden overflow-x-auto lg:block">
        <table class="data-table">
            <thead><tr>{% block table_head %}{% endblock %}</tr></thead>
            <tbody id="page-list">
                {% block table_body %}{% endblock %}
            </tbody>
        </table>
    </div>
    <div id="page-list-2" class="lg:hidden">
        {% block cards %}{% endblock %}
    </div>
    {% if not page_obj %}
    <p class="px-4 py-10 text-center text-sm text-slate">No records yet.</p>
    {% endif %}
</div>
{% endblock main %}
