{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
{% endblock header %}
{% block main %}
<section class="p-4 mx-10 rounded-md border-2 mt-16 mb-2 border-current backdrop-blur-sm bg-opacity-10 bg-base-300 thin-scrollbar">
    <div class="m-5 p-5 rounded-md backdrop-blur-sm bg-opacity-80 bg-base-200 space-y-2">
        <div class="bg-transparent space-y-2">
            <div class="flex justify-center items-center px-2 gap-2">
                <p class="text-center font-bold text-md capitalize">Hi, </p>
                <p class="text-center font-bold text-md lower">{{ request.user.username }}</p>
            </div>
            <p class="text-center px-2 font-bold text-sm capitalize" data-aos="fade-up">You're now connected to Doctor Detail App, your data is in safe hands.</p>
            <p class="text-center px-2 font-bold text-sm capitalize" data-aos="fade-left">Stay informed, stay healthy, and stay happy!</p>
        </div>
    </div>
</section>
{% endblock main %}