{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
{% endblock header %}
{% block main %}
<section class="space-y-5 mt-5">
    <div class="p-4 mx-5 rounded-md border-2 border-current backdrop-blur-sm bg-opacity-10 bg-base-300 thin-scrollbar">
        <div class="m-5 p-5 rounded-md backdrop-blur-sm bg-opacity-80 bg-base-200 space-y-2">
            <div class="bg-transparent space-y-2">
                <div class="flex justify-center items-center px-2 gap-2">
                    <p class="text-center font-bold text-md capitalize">Hi, </p>
                    <p class="text-center font-bold text-md lower">{{ request.user.username }}</p>
                </div>
                <p class="text-center px-2 font-bold text-sm capitalize" data-aos="fade-up">You're now connected to
                    {% for i in request.user.groups.all %}
                        {% if i.name == "sales" %}
                            Doctor Detail
                        {% else %}
                            Bank Data
                        {% endif %}
                    {% endfor %}
                    , your data is in safe hands.</p>
                <p class="text-center px-2 font-bold text-sm capitalize" data-aos="fade-left">Stay informed, stay healthy, and stay happy!</p>
            </div>
        </div>
    </div>
    {% if request.user.groups.first.name == "sales" %}
        <div class="p-4 mx-5 rounded-md border-2 border-current backdrop-blur-sm bg-opacity-10 bg-base-300 thin-scrollbar">
            <p class="text-lg text-center font-semibold">The Doctors Groupped by Rayons</p>
            <p class="text-sm text-center font-normal">The groupping include "Priority" and "Not Priority"</p>
            <div class="w-full flex lg:flex-row my-5 flex-col items-center lg:justify-start justify-center gap-5">
                <input type="text" name="search" id="search" class="input input-sm rounded-none rounded-l-sm rounded-r-sm" placeholder="Search...">
                <div class="rounded-sm border-2 border-base-100 shadow-md py-1 px-2">
                    <p class="text-sm font-semibold font-sans text-current bg-base">Priority : {{ total.doctor_priority }} Doctor | Not Priority : {{ total.doctor_not_priority }} Doctor | Total : {{ total.total_doctor }} Doctor</p>
                </div>
            </div>
            <div id="page-list" class="card shadow-md py-2 px-2 lg:px-5 rounded-md backdrop-blur-sm bg-opacity-80 bg-base-200 grid lg:grid-cols-4 grid-cols-1 gap-5 lg:gap-10">
                {% for d in data %}
                <div class="card card-border bg-base-100 shadow-lg py-2 px-1 rounded-sm cursor-pointer" id="lost-page" some="{{ d.rayon }}" onclick="modal_1.showModal()">
                    <p class="text-md font-bold text-pretty">{{ d.rayon }}</p>
                    <div class="flex items-center justify-start gap-5 text-sm">
                        <ul class="space-y-2">
                            <li>Priority</li>
                            <li>Not Priority</li>
                            <li>Total</li>
                        </ul>
                        <ul class="space-y-2">
                            <li>: {{ d.priority }} Doctor</li>
                            <li>: {{ d.not_priority }} Doctor</li>
                            <li>: {{ d.total_doctor }} Doctor</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <dialog id="modal_1" class="modal">
            <div class="modal-box w-11/12 max-w-5xl border-2 border-primary">
                <p class="text-md font-semibold block px-2" id="rayon_name"></p>
                <div class="p-2 grid lg:grid-cols-3 grid-cols-1 gap-5" id="modal-data">
                </div>
                <div class="modal-action">
                    <form action="." method="dialog">
                        <button class="btn btn-sm btn-secondary rounded-none rounded-l-sm rounded-r-sm p-0 m-0 px-4">Close</button>
                    </form>
                </div>
            </div>
        </dialog>
    {% endif %}
</section>
{% endblock main %}