{% load static %}
<nav {% if not login %} class="rdp-navbar shadow-2xl bg-base-300 py-2" {% else %} class="w-full bg-base-300 shadow-2xl py-2 fixed" {% endif %}>
    <div class="py-1 px-4 flex justify-start items-center">
        <a href="{% url 'master:home' %}" class="w-2/12 flex items-center justify-start gap-5">
            <img src="{% static 'icon/mazta_logo.png' %}" alt="" class="rounded-full w-8 bg-white" data-aos="fade-right">
            <p class="text-left text-pretty font-semibold text-md" data-aos="fade-left">Mazta Farma</p>
        </a>
        <div class="w-4/12">
            <p class="text-md text-left font-sans font-semibold text-pretty capitalize" data-aos="fade-up">{{ page_name }}</p>
        </div>
        <div class="w-6/12 flex items-center justify-end gap-10">
            <div class="flex items-center justify-center gap-3">
                {% if not login %}
                <div class="drawer">
                    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                      <label for="my-drawer" class="drawer-button text-md font-semibold uppercase btn btn-sm p-1" data-aos="zoom-in-left">Databases</label>
                    </div>
                    <div class="drawer-side z-10">
                        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay z-10"></label>
                        <ul class="menu bg-base-200 text-base-content h-full w-44 p-4 z-10">
                            <li>
                                <div class=" flex items-center justify-center">
                                    <p class="text-lg font-semibold text-pretty font-sans text-center">Databases</p>
                                </div>
                            </li>
                            {% if request.session.detail.id_user == 7 %}
                            <li>
                                <div class="dropdown dropdown-hover dropdown-right">
                                    <div tabindex="0" role="button" class="link link-hover font-semibold font-sans text-md text-pretty text-center">Master</div>
                                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-md w-52 p-2 shadow-md">
                                        <li><a href="{% url 'master:gc_list' %}" class="text-md font-semibold link link-hover font-sans text-pretty">Grade Clinic</a></li>
                                        <li><a href="{% url 'master:gu_list' %}" class="text-md font-semibold link link-hover font-sans text-pretty">Grade User</a></li>
                                        <li><a href="{% url 'master:title_list' %}" class="text-md font-semibold link link-hover font-sans text-pretty">Title</a></li>
                                        <li><a href="{% url 'master:salutation_list' %}" class="text-md font-semibold link link-hover font-sans text-pretty">Salutation</a></li>
                                        <li><a href="{% url 'master:specialist_list' %}" class="text-md font-semibold link link-hover font-sans text-pretty">Specialist</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            <li>
                                <div class="dropdown dropdown-hover dropdown-right">
                                    <div tabindex="0" role="button" class="link link-hover font-semibold font-sans text-md text-pretty text-center">Transaction</div>
                                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-md w-52 p-2 shadow-md">
                                        <li><a href="{% url 'sales:doctor_list' %}" class="text-md font-semibold link link-hover font-sans text-pretty">Doctor List</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="flex items-center justify-center">
                <div class="dropdown dropdown-hover dropdown-end">
                    <div tabindex="0" role="button" class="link link-hover text-sm font-semibold uppercase font-sans" data-aos="fade-left">{{ request.user.username }}</div>
                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-md">
                        <li><a href="" class="text-md font-semibold link link-hover">Settings</a></li>
                        <li><a href="" class="text-md font-semibold link link-hover">Profile</a></li>
                        <li><a href="{% url 'master:logout' %}" class="text-md font-semibold link link-hover">LogOut</a></li>
                        <li>
                            <div class="dropdown dropdown-hover dropdown-end">
                                <div tabindex="0" role="button" class="text-md font-semibold link link-hover">
                                Theme
                                <svg
                                    width="12px"
                                    height="12px"
                                    class="inline-block h-2 w-2 fill-current opacity-60"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 2048 2048">
                                    <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                                </svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-1 p-2 shadow-2xl w-40 group-focus-within:block">
                                    <li>
                                        <input type="radio" name="theme-dropdown" id="default-id" class="theme-controller w-full btn btn-sm btn-ghost justify-start hidden" checked aria-label="Default" value="lemonade" />
                                        <label for="default-id" class="w-full btn btn-sm btn-ghost justify-start">Default</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="theme-dropdown" id="abyss-id" class="theme-controller w-full btn btn-sm btn-ghost justify-start hidden" aria-label="Abyss" value="abyss" />
                                        <label for="abyss-id" class="w-full btn btn-sm btn-ghost justify-start">Abyss</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="theme-dropdown" id="cyberpunk-id" class="theme-controller w-full btn btn-sm btn-ghost justify-start hidden" aria-label="Cyberpunk" value="cyberpunk" />
                                        <label for="cyberpunk-id" class="w-full btn btn-sm btn-ghost justify-start">Cyberpunk</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="theme-dropdown" id="valentine-id" class="theme-controller w-full btn btn-sm btn-ghost justify-start hidden" aria-label="Valentine" value="valentine" />
                                        <label for="valentine-id" class="w-full btn btn-sm btn-ghost justify-start">Valentine</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="theme-dropdown" id="aqua-id" class="theme-controller w-full btn btn-sm btn-ghost justify-start hidden" aria-label="Aqua" value="aqua" />
                                        <label for="aqua-id" class="w-full btn btn-sm btn-ghost justify-start">Aqua</label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>