{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
    {% include 'head/nav_2.html' %}
{% endblock header %}

{% block main %}
<main class="mx-10 my-5 p-5 bg-base-200 rounded-md">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th>Grade Name</th>
                <th>Grade Alias</th>
                <th>Range Clinic</th>
            </tr>
        </thead>
        <tbody id="page-list">
            {% for data in page_obj %}
            <tr class="border-b border-current">
                <th><a href="{% url 'master:detail_gc' data.grade.pk %}">Grade {{ data.grade.name }}</a></th>
                <td>{{ data.grade.alias }}</td>
                <td> >= {{ data.grade.range_clinic.min_value }} Clinic, <= {{ data.grade.range_clinic.max_value }} Clinic </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock main %}