{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
    {% include 'head/nav_2.html' %}
{% endblock header %}

{% block main %}
<main class="mx-10 my-5 p-5 bg-base-200 rounded-md">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th>Grade Category</th>
                <th>Grade Alias</th>
                <th>Range User</th>
            </tr>
        </thead>
        <tbody id="page-list">
            {% for data in page_obj %}
            <tr class="border-b border-current">
                <th>Grade {{ data.user.name }}</th>
                <td>{{ data.user.description.alias }}</td>
                <td> >= {{ data.user.range_user.min.value }} {{ data.measure.min }}, <= {{ data.user.range_user.max.value }} {{ data.measure.max }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock main %}