{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
    {% include 'head/nav_2.html' %}
{% endblock header %}

{% block main %}
<main class="lg:mx-10 mx-5 my-5 p-5 bg-base-200 rounded-md">
    <table class="lg:table hidden table-zebra">
        <thead>
            <tr>
                <th>Pic Name</th>
                <th>Company</th>
                <th>Position</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="page-list">
            {% for data in page_obj %}
            <tr class="border-b border-current">
                <th><a href="{% url 'master:detail_pic' data.pk %}">{{ data.name }}</a></th>
                <td>{{ data.company }}</td>
                <td>{{ data.position }}</td>
                <td>{{ data.contact.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="page-list-2" class="space-y-2 lg:hidden block">
        {% for data in page_obj %}
        <div class="rounded-sm bg-base-100 p-2">
            <a href="{% url 'master:detail_pic' data.pk %}" class="text-left text-md font-semibold">{{ data.name }}</a>
            <div class="flex items-center justify-start gap-5">
                <ul class="w-1/4 text-xs font-semibold">
                    <li>Company</li>
                    <li>Position</li>
                    <li>Email</li>
                </ul>
                <ul class="w-3/4 text-xs font-semibold">
                    <li> : {{ data.company }}</li>
                    <li> : {{ data.position }}</li>
                    <li> : {{ data.contact.email }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock main %}