{% extends 'base/list_base.html' %}

{% block table_head %}<th>PIC Name</th><th>Company</th><th>Position</th><th>Email</th>{% endblock %}

{% block table_body %}
{% for data in page_obj %}
<tr>
    <th><a href="{% url 'master:detail_pic' data.pk %}">{{ data.name }}</a></th>
    <td>{{ data.company }}</td>
    <td>{{ data.position }}</td>
    <td>{{ data.contact.email }}</td>
</tr>
{% endfor %}
{% endblock %}

{% block cards %}
{% for data in page_obj %}
<div class="p-4">
    <a href="{% url 'master:detail_pic' data.pk %}" class="text-sm font-medium text-primary">{{ data.name }}</a>
    <dl class="mt-2 grid grid-cols-[5rem_1fr] gap-y-1 text-xs text-base-content/60">
        <dt>Company</dt><dd>{{ data.company }}</dd>
        <dt>Position</dt><dd>{{ data.position }}</dd>
        <dt>Email</dt><dd>{{ data.contact.email }}</dd>
    </dl>
</div>
{% endfor %}
{% endblock %}
