{% extends 'base/list_base.html' %}

{% block table_head %}<th>Salutation</th><th>Short</th>{% endblock %}

{% block table_body %}
{% for data in page_obj %}
<tr>
    <th><a href="{% url 'master:detail_salutation' data.salutation.pk %}">{{ data.salutation.salutation }}</a></th>
    <td>{{ data.salutation.short_salutation }}</td>
</tr>
{% endfor %}
{% endblock %}

{% block cards %}
{% for data in page_obj %}
<div class="p-4">
    <a href="{% url 'master:detail_salutation' data.salutation.pk %}" class="text-sm font-medium text-primary">{{ data.salutation.salutation }} ({{ data.salutation.short_salutation }})</a>
</div>
{% endfor %}
{% endblock %}
