{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
    {% include 'head/nav_2.html' %}
{% endblock header %}

{% block main %}
<main class="mx-10 my-5 p-5 bg-base-200 rounded-md">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th>Title</th>
                <th>Short Title</th>
            </tr>
        </thead>
        <tbody id="page-list">
            {% for data in page_obj %}
            <tr class="border-b border-current">
                <th>{{ data.salutation.salutation }}</th>
                <td>{{ data.salutation.description.short_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock main %}