{% extends 'base/list_base.html' %}

{% block table_head %}<th>Title</th><th>Short Title</th>{% endblock %}

{% block table_body %}
{% for data in page_obj %}
<tr>
    <th><a href="{% url 'master:detail_title' data.pk %}">{{ data.name }}</a></th>
    <td>{{ data.short_name }}</td>
</tr>
{% endfor %}
{% endblock %}

{% block cards %}
{% for data in page_obj %}
<div class="p-4">
    <a href="{% url 'master:detail_title' data.pk %}" class="text-sm font-medium text-primary">{{ data.name }}</a>
    <p class="mt-1 text-xs text-base-content/60">Short: {{ data.short_name }}</p>
</div>
{% endfor %}
{% endblock %}
