{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
{% endblock header %}
{% block main %}
<section class="mx-5 flex gap-5">
    <div class="w-9/12">
        <form action="." method="post" class="space-y-5">
            {% csrf_token %}
            <button type="submit" class="btn btn-md">Submit</button>
            <input type="text" name="metode" value="post" class="hidden is-hidden">
            <div class="w-full rounded-md border border-current p-5 space-y-5 glass">
                <p class="text-md font-bold uppercase text-pretty font-sans">New Title</p>
                <div class="flex items-center justify-between gap-20">
                    <div class="flex items-center justify-between w-1/2 gap-5">
                        <label for="gd-id" class="label font-semibold">Full Title Name</label>
                        <input type="text" id="gd-id" name="full-name" class="input" placeholder="Title Full Name" required>
                    </div>
                    <div class="flex items-center justify-between w-1/2 gap-5">
                        <label for="ga-id" class="label  font-semibold">Short Title Name</label>
                        <input type="text" id="ga-id" name="short-name" class="input" placeholder="Title Short Name" required>
                    </div>
                </div>
                <div class="w-full">
                    <p class="w-full block text-sm font-bold text-pretty font-sans">Description</p>
                    <hr class="border border-current">
                </div>
                <textarea name="description" id="" class="bg-transparent rounded-md w-full"></textarea>
            </div>
        </form>
    </div>
    <div class="w-3/12">
        <!-- Log Activity -->
    </div>
</section>
{% endblock main %}