{% extends 'base/form_base.html' %}

{% block heading %}New Salutation{% endblock %}

{% block fields %}
<div class="form-grid">
    <div class="field-row">
        <label for="gd-id" class="field-label">Full</label>
        <input type="text" id="gd-id" name="full-name" class="input w-full" placeholder="Salutation full name" required>
    </div>
    <div class="field-row">
        <label for="ga-id" class="field-label">Short</label>
        <input type="text" id="ga-id" name="short-name" class="input w-full" placeholder="Salutation short name" required>
    </div>
</div>
<div class="field-row">
    <label class="field-label">Description</label>
    <textarea name="description" class="textarea w-full"></textarea>
</div>
{% endblock %}
