{% extends 'base_app/base.html' %}
{% load static %}
{% block home %}
<section class="flex w-full p-4 rounded-md border-2 mt-16 mb-2 dark:border-gray-400 border-gray-800 backdrop-blur-sm bg-opacity-10 bg-gray-800 overflow-y-auto thin-scrollbar">
    <div class="w-9/12">
        <div class="flex gap-10">
            <button onclick="document.getElementById('form-deduction').submit();" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">submit</button>
        </div>
        <form id="form-deduction" action="." method="post" class="rounded-md border-2 border-gray-400 backdrop-blur-sm bg-opacity-70 bg-gray-800">
            {% csrf_token %}
            <input type="hidden" name="metode" value="post">
            <div class="p-4">
                <p class="dark:text-gray-400 bg-transparent text-gray-800 font-bold text-lg flex justify-start uppercase">New Deduction</p>
                <div class="my-5 flex justify-start gap-5">
                    <div class="w-1/2 bg-transparent">
                        <div class="flex gap-10 items-center bg-transparent mt-3">
                            <ul class="space-y-5 w-1/4 dark:text-gray-400 text-gray-800 font-semibold text-sm justify-start">
                                <li class="mt-2">
                                    <label for="deduction-name-id">Deduction Name</label>
                                </li>
                            </ul>
                            <ul class="space-y-5 w-3/4 dark:text-gray-400 text-gray-800 font-semibold text-sm justify-start">
                                <li class="mt-2">
                                    <input type="text" autocomplete="off" id="deduction-name-id" name="deduction-name" class="w-full capitalize bg-transparent border-b-2 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="w-3/12">
        <!-- Log Activity -->
    </div>
</section>
{% endblock %}