{% extends 'base/form_base.html' %}

{% block heading %}New Classification{% endblock %}

{% block fields %}
<div class="field-row sm:max-w-sm">
    <label for="csn-id" class="field-label">Classification Name</label>
    <input type="text" id="csn-id" name="class-name" class="input w-full" placeholder="Classification name" required>
</div>
<div class="field-row">
    <label class="field-label">Description</label>
    <textarea name="description" class="textarea w-full"></textarea>
</div>
{% endblock %}
