{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
    {% include 'head/nav_2.html' %}
{% endblock header %}

{% block main %}
<main class="mx-10 my-5 p-5 bg-base-200 rounded-md">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Old Code</th>
                <th>Priority</th>
                <th>Cover</th>
                <th>Update At</th>
            </tr>
        </thead>
        <tbody id="page-list">
            {% for data in page_obj %}
            <tr class="border-b border-current">
                <th>
                    <a {% if request.session.detail.id_user == 7 %} href="#" {% else %} href="{% url 'sales:doctor_detail' request.session.detail.id_user data.data.id_dokter %}" {% endif %} class="link link-hover">
                        {{ data.data.nama_dokter }}
                    </a>
                </th>
                <td>{{ data.data.kode_pelanggan_old }}</td>
                <td>{{ data.priority }}</td>
                <td>{{ data.cover.rayon }}</td>
                <td>{{ data.last_update }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock main %}