{% extends 'base_app/base.html' %}
{% load static %}
{% block home %}
<section class="flex w-full p-4 rounded-md border-2 mt-16 mb-2 dark:border-gray-400 border-gray-800 backdrop-blur-sm bg-opacity-10 bg-gray-800 overflow-y-auto thin-scrollbar">
    <div class="w-9/12">
        <div class="flex gap-3">
            <button onclick="document.getElementById('form-branch').submit();" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">update</button>
            <form action="." method="post" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">
                {% csrf_token %}
                <button type="submit" class="uppercase">Delete</button>
                <input type="hidden" name="metode" value="delete">
            </form>
        </div>
        <form id="form-branch" action="." method="post" class="rounded-md border-2 border-gray-400 backdrop-blur-sm bg-opacity-70 bg-gray-800">
            {% csrf_token %}
            <input type="hidden" name="metode" value="post">
            <div class="p-4">
                <p class="dark:text-gray-400 bg-transparent text-gray-800 font-bold text-lg flex justify-start uppercase">Detail Branch</p>
                <div class="mt-10 flex justify-center gap-5">
                    <div class="w-1/2 bg-transparent">
                        <p class="dark:text-gray-400 text-gray-800 text-md font-bold border-b border-gray-400 w-full">Public Information</p>
                        <div class="flex gap-10 items-center bg-transparent mt-3">
                            <ul class="space-y-5 w-1/4 dark:text-gray-400 text-gray-800 font-semibold text-sm justify-start">
                                <li class="mt-2">
                                    <label for="branch-name-id">Branch Name</label>
                                </li>
                            </ul>
                            <ul class="space-y-5 w-3/4 dark:text-gray-400 text-gray-800 font-semibold text-sm justify-start">
                                <li class="mt-2">
                                    <input type="text" autocomplete="off" id="branch-name-id" value="{{ branch.name }}" name="branch-name" class="w-full bg-transparent border-b-2 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">
                                </li>
                            </ul>
                        </div>
                        <div class="flex gap-10 bg-transparent mt-3">
                            <div class="w-1/4">
                                <p class="dark:text-gray-400 text-gray-800 font-semibold text-sm">Address</p>
                            </div>
                            <div class="w-3/4 space-y-3">
                                <input type="text" name="street-1" id="street-1-id" value="{{ branch.address.street_1 }}" class="w-full bg-transparent border-b-2 dark:text-gray-400 text-gray-800 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800 placeholder:text-gray-600" placeholder="Street 1...">
                                <input type="text" name="street-2" id="street-2-id" value="{{ branch.address.street_2 }}" class="w-full bg-transparent border-b-2 dark:text-gray-400 text-gray-800 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800 placeholder:text-gray-600" placeholder="Street 2...">
                                <div class="w-full bg-transparent flex gap-5">
                                    <input type="text" name="state" id="state-id" value="{{ branch.address.state }}" class="w-full bg-transparent border-b-2 dark:text-gray-400 text-gray-800 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800 placeholder:text-gray-600" placeholder="State...">
                                    <input type="text" name="city" id="city-id" value="{{ branch.address.city }}" class="w-full bg-transparent border-b-2 dark:text-gray-400 text-gray-800 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800 placeholder:text-gray-600" placeholder="City...">
                                    <input type="text" name="country" id="country-id" value="{{ branch.address.country }}" class="w-full bg-transparent border-b-2 dark:text-gray-400 text-gray-800 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800 placeholder:text-gray-600" placeholder="Country...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 bg-transparent">
                        <p class="dark:text-gray-400 text-gray-800 text-md font-bold border-b border-gray-400 w-full">Description</p>
                        <div class="flex gap-10 items-center bg-transparent mt-3">
                            <textarea name="description" id="description-id" class="w-full bg-transparent border-b-2 dark:border-gray-400 border-gray-800 dark:text-gray-400 text-gray-800 font-semibold text-sm thin-scrollbar focus:outline-none focus:border-blue-600 hover:border-red-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">{{ branch.description }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="mt-10 flex gap-5">
                    <div class="w-1/2 bg-transparent">
                        <p class="dark:text-gray-400 text-gray-800 text-md font-bold border-b border-gray-400 w-full">Branch Information</p>
                        <div class="flex gap-10 items-center bg-transparent mt-3">
                            <ul class="space-y-5 w-1/4 dark:text-gray-400 text-gray-800 font-semibold text-sm justify-start">
                                <li class="mt-2">
                                    <label for="parent-id">Parent</label>
                                </li>
                            </ul>
                            <ul class="space-y-5 w-3/4 dark:text-gray-400 text-gray-800 font-semibold text-sm justify-start">
                                <li class="mt-2">
                                    <select name="parent" id="parent-id" class="w-full bg-transparent border-b-2 bg-transparent dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">
                                        <option value="" class="bg-gray-800 text-gray-400 font-semibold"></option>
                                        {% for data in branches %}
                                        <option value="{{ data.pk }}" class="bg-gray-800 text-gray-400 font-semibold" {% if data.pk == branch.parent %} selected {% endif %} >{{ data.name }}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <p class="dark:text-gray-400 text-gray-800 text-xs mt-5 font-normal">Leave blank if it's not a sub branch</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="w-3/12">
        <!-- Log Activity -->
    </div>
</section>
{% endblock %}