{% extends 'base_app/base.html' %}
{% load static %}
{% block home %}
<section class="flex w-full p-4 rounded-md border-2 mt-16 mb-2 dark:border-gray-400 border-gray-800 backdrop-blur-sm bg-opacity-10 bg-gray-800 overflow-y-auto thin-scrollbar">
    <div class="w-9/12">
        <div class="flex gap-3">
            <button onclick="document.getElementById('form-disc').submit();" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">update</button>
            <form action="." method="post" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">
                {% csrf_token %}
                <button type="submit" class="uppercase">Delete</button>
                <input type="hidden" name="metode" value="delete">
            </form>
        </div>
        <form id="form-disc" action="." method="post" class="rounded-md border-2 border-gray-400 backdrop-blur-sm bg-opacity-70 bg-gray-800">
            {% csrf_token %}
            <input type="hidden" name="metode" value="post">
            <div class="p-4">
                <p class="dark:text-gray-400 bg-transparent text-gray-800 font-bold text-lg flex justify-start uppercase">New Disciplinary Action Type</p>
                <div class="my-5 justify-start">
                    <ul class="space-y-5">
                        <li class="flex items-center dark:text-gray-400 text-gray-800 font-semibold">
                            <label for="disciplinary-name-id" class="w-2/12 mt-1 dark:text-gray-400 text-gray-800 font-semibold">Name</label>
                            <input type="text" name="disciplinary-name" id="disciplinary-name-id" autocomplete="off" value="{{ data.name }}" class="w-4/12 justify-start bg-transparent border-b-2 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">
                        </li>
                        <li class="flex items-center dark:text-gray-400 text-gray-800 font-semibold">
                            <label for="duration-id" class="w-2/12 mt-1 dark:text-gray-400 text-gray-800 font-semibold">Duration</label>
                            <div class="w-4/12 flex items-center justify-start text-md">
                                <input type="text" name="duration" value="{{ data.duration }}" id="duration-id" autocomplete="off" class="w-9/12 justify-start bg-transparent border-b-2 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">
                                <select name="measure" id="measure-id" class="w-3/12 rounded-r-md border-2 border-gray-400 bg-gray-800 cursor-pointer focus:outline-none">
                                    <option value="D" class="bg-gray-800 text-gray-400 font-semibold" {% if data.duration_measure == "D" %} selected {% endif %} >Days</option>
                                    <option value="M" class="bg-gray-800 text-gray-400 font-semibold" {% if data.duration_measure == "M" %} selected {% endif %} >Months</option>
                                    <option value="Y" class="bg-gray-800 text-gray-400 font-semibold" {% if data.duration_measure == "Y" %} selected {% endif %} >Years</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="w-3/12">
        <!-- Log Activity -->
    </div>
</section>
<script>
    $(document).ready(function() {
        $('#entity-id').on('change', function() {
            var entityId = $(this).find(':selected').val();
            console.log(entityId);

            if(entityId) {
                $.ajax({
                    url: window.location.href,
                    data: {
                        'entity_obj_id': entityId
                    },
                    type: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    dataType: 'json',
                    success: function(response) {
                        var branches = response;
                        console.log(branches);
                        branches.forEach(function(branch) {
                            $('#branch-id').append(`<option value="${branch.pk}" class="bg-gray-800 text-gray-400 font-semibold">${branch.branch}</option>`);
                        })
                    },
                    error: function() {
                        alert("Error Fetching Branches");
                    }
                });
            } else {
                $('#branch-id').empty().append(`<option value="" class="bg-gray-800 text-gray-400 font-semibold">Select Branch</option>`);
            }
        });
    });
</script>
{% endblock %}