{% extends 'base/base_app.html' %}
{% load static %}

{% block header %}
    {% include 'head/nav_1.html' %}
{% endblock header %}
{% block main %}
<section class="mx-5 flex gap-5">
    <div class="lg:w-9/12 w-full">
        <form action="." method="post" id="delete-form" class="hidden">
            {% csrf_token %}
            <input type="text" name="metode" value="delete" class="hidden">
        </form>
        <form action="." method="post" class="space-y-5 mt-5">
            {% csrf_token %}
            <div class="w-full flex items-center justify-start gap-3">
                <button type="submit" class="btn btn-md">Submit</button>
                <button type="button" class="btn btn-md" onclick="document.getElementById('delete-form').submit();">Delete</button>
            </div>
            <input type="text" name="metode" value="post" class="hidden is-hidden">
            <div class="w-full rounded-md border border-current p-5 space-y-5 glass">
                <p class="text-md font-bold uppercase text-pretty font-sans">Detail Salutation</p>
                <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-20 gap-5">
                    <div class="flex items-center justify-between w-full gap-5">
                        <label for="gd-id" class="label font-semibold w-1/3">Full</label>
                        <input type="text" id="gd-id" name="full-name" class="input w-2/3" value="{{ data.salutation }}" placeholder="Salutation Full Name" required>
                    </div>
                    <div class="flex items-center justify-between w-full gap-5">
                        <label for="ga-id" class="label  font-semibold w-1/3">Short</label>
                        <input type="text" id="ga-id" name="short-name" class="input w-2/3" value="{{ data.short_salutation }}" placeholder="Salutation Short Name" required>
                    </div>
                </div>
                <div class="w-full">
                    <p class="w-full block text-sm font-bold text-pretty font-sans">Description</p>
                    <hr class="border border-current">
                </div>
                <textarea name="description" id="" class="textarea rounded-md w-full">{{ data.description }}</textarea>
            </div>
        </form>
    </div>
    <div class="lg:w-3/12 hidden">
        <!-- Log Activity -->
    </div>
</section>
{% endblock main %}