{% extends 'base_app/base.html' %}
{% load static %}
{% block home %}
<section class="flex w-full p-4 rounded-md border-2 mt-16 mb-2 dark:border-gray-400 border-gray-800 backdrop-blur-sm bg-opacity-10 bg-gray-800 overflow-y-auto thin-scrollbar">
    <div class="w-9/12">
        <div class="flex gap-5">
            <button onclick="document.getElementById('form-timeoff').submit();" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">submit</button>
            <form action="." method="post" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">
                {% csrf_token %}
                <button type="submit" class="uppercase">Delete</button>
                <input type="hidden" name="metode" value="delete">
            </form>
        </div>
        <form id="form-timeoff" action="." method="post" class="rounded-md border-2 border-gray-400 backdrop-blur-sm bg-opacity-70 bg-gray-800">
            {% csrf_token %}
            <input type="hidden" name="metode" value="post">
            <div class="p-4">
                <p class="dark:text-gray-400 bg-transparent text-gray-800 font-bold text-lg flex justify-start uppercase">Detail Time Off Type</p>
                <div class="my-5 justify-start">
                    <ul class="space-y-5">
                        <li class="flex items-center dark:text-gray-400 text-gray-800 font-semibold">
                            <label for="timeoff-id" class="w-2/12 mt-1 dark:text-gray-400 text-gray-800 font-semibold">Type Off</label>
                            <input type="text" name="timeoff" id="timeoff-id" autocomplete="off" value="{{ data.name }}" class="w-4/12 justify-start bg-transparent border-b-2 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">
                        </li>
                        <li class="dark:text-gray-400 text-gray-800 font-semibold mt-5">
                            <p class="text-gray-800 dark:text-gray-400 font-semibold text-sm capitalize">status time off</p>
                            <hr class="border-gray-400 w-6/12">
                        </li>
                        <li class="items-center dark:text-gray-400 text-gray-800 font-semibold">
                            <div class="flex gap-5 items-center">
                                <div class="flex gap-3 items-center justify-start">
                                    <input type="radio" name="attendance" id="absent-id" autocomplete="off" value="0" {% if data.is_absent == 1 %} checked {% endif %} class="focus:outline-none flex items-center cursor-pointer">
                                    <label for="absent-id" class="w-2/12 justify-start dark:text-gray-400 text-gray-800 font-semibold cursor-pointer">Absent</label>
                                </div>
                                <div class="flex gap-3 items-center justify-end">
                                    <input type="radio" name="attendance" id="present-id" autocomplete="off" value="1" {% if data.is_absent == 0 %} checked {% endif %} class="focus:outline-none flex items-center cursor-pointer">
                                    <label for="present-id" class="w-2/12 justify-start dark:text-gray-400 text-gray-800 font-semibold cursor-pointer">Present</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="w-3/12">
        <!-- Log Activity -->
    </div>
</section>
<script>
    $(document).ready(function() {
        $('#entity-id').on('change', function() {
            var entityId = $(this).find(':selected').val();
            console.log(entityId);

            if(entityId) {
                $.ajax({
                    url: window.location.href,
                    data: {
                        'entity_obj_id': entityId
                    },
                    type: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    dataType: 'json',
                    success: function(response) {
                        var branches = response;
                        console.log(branches);
                        branches.forEach(function(branch) {
                            $('#branch-id').append(`<option value="${branch.pk}" class="bg-gray-800 text-gray-400 font-semibold">${branch.branch}</option>`);
                        })
                    },
                    error: function() {
                        alert("Error Fetching Branches");
                    }
                });
            } else {
                $('#branch-id').empty().append(`<option value="" class="bg-gray-800 text-gray-400 font-semibold">Select Branch</option>`);
            }
        });
    });
</script>
{% endblock %}