{% extends 'base_app/base.html' %}
{% load static %}
{% block home %}
<section class="flex w-full p-4 rounded-md border-2 mt-16 mb-2 dark:border-gray-400 border-gray-800 backdrop-blur-sm bg-opacity-10 bg-gray-800 overflow-y-auto thin-scrollbar">
    <div class="w-9/12">
        <div class="flex gap-5">
            <button onclick="document.getElementById('form-title').submit();" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">submit</button>
            <form action="." method="post" class="rounded-sm hover:text-gray-800 hover:bg-gray-400 bg-gray-800 text-gray-400 border-2 border-gray-400 hover:border-gray-800 px-2 py-1 uppercase text-xs font-bold mb-2">
                {% csrf_token %}
                <button type="submit" class="uppercase">Delete</button>
                <input type="hidden" name="metode" value="delete">
            </form>
        </div>
        <form id="form-title" action="." method="post" class="rounded-md border-2 border-gray-400 backdrop-blur-sm bg-opacity-70 bg-gray-800">
            {% csrf_token %}
            <input type="hidden" name="metode" value="post">
            <div class="p-4">
                <p class="dark:text-gray-400 bg-transparent text-gray-800 font-bold text-lg flex justify-start uppercase">Detail Title</p>
                <div class="my-5 justify-start">
                    <ul class="space-y-5">
                        <li class="flex w-full items-center dark:text-gray-400 gap-10 text-gray-800 font-semibold">
                            <div class="w-1/2 flex gap-5">
                                <label for="short-id" class="w-3/12 mt-1 dark:text-gray-400 text-gray-800 font-semibold">Short Name</label>
                                <input type="text" name="short" id="short-id" autocomplete="off" value="{{ data.short_name }}" class="w-6/12 justify-start bg-transparent border-b-2 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">
                            </div>
                            <div class="w-1/2 flex gap-5">
                                <label for="full-id" class="w-3/12 mt-1 dark:text-gray-400 text-gray-800 font-semibold">Full Name</label>
                                <input type="text" name="full" id="full-id" autocomplete="off" value="{{ data.name }}" class="w-6/12 justify-start bg-transparent border-b-2 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">
                            </div>
                        </li>
                        <li class="flex items-center dark:text-gray-400 text-gray-800 font-semibold">
                            <div class="w-1/2 items-center justify-start mt-2">
                                <label for="desc-id" class="w-4/12 mt-1 text-sm dark:text-gray-400 text-gray-800 font-semibold">Description</label>
                                <hr class="border-b border-gray-400">
                                <textarea name="desc" id="desc-id" autocomplete="off" class="p-1 w-full justify-start bg-transparent border-b-2 dark:border-gray-400 border-gray-800 focus:outline-none hover:border-red-600 focus:border-blue-600 focus:backdrop-blur-sm focus:bg-opacity-30 focus:bg-red-800">{{ data.description }}</textarea>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="w-3/12">
        <!-- Log Activity -->
    </div>
</section>
<script>
    $(document).ready(function() {
        $('#entity-id').on('change', function() {
            var entityId = $(this).find(':selected').val();
            console.log(entityId);

            if(entityId) {
                $.ajax({
                    url: window.location.href,
                    data: {
                        'entity_obj_id': entityId
                    },
                    type: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    dataType: 'json',
                    success: function(response) {
                        var branches = response;
                        console.log(branches);
                        branches.forEach(function(branch) {
                            $('#branch-id').append(`<option value="${branch.pk}" class="bg-gray-800 text-gray-400 font-semibold">${branch.branch}</option>`);
                        })
                    },
                    error: function() {
                        alert("Error Fetching Branches");
                    }
                });
            } else {
                $('#branch-id').empty().append(`<option value="" class="bg-gray-800 text-gray-400 font-semibold">Select Branch</option>`);
            }
        });
    });
</script>
{% endblock %}